<div class="acquaintance">
    <h2 class="acquaintance__title title">Знакомство с вашей командой</h2>
    <div class="acquaintance-tabs tabs">
        <div class="tabs__header">
            <ul class="tabs__list">
                <li class="tabs__item">
                    <a class="tabs__link" href="#section1">Персональный менеджер</a>
                    <p class="tabs__text">
                        Ваша правая рука, вы забываете о каких либо заботах до сдачи
                        диплома. Он всегда на связи, постоянно держит вас в курсе всего
                        что происходит с вашей работой
                    </p>
                </li>
                <li class="tabs__item">
                    <a class="tabs__link" href="#section2">Автор</a>
                    <p class="tabs__text">
                        Подбирается менеджером под ваш тип работы и тему. Не только напишет
                        качественную работу но и пояснит как ее сдавать.
                    </p>
                </li>
                <li class="tabs__item">
                    <a class="tabs__link" href="#section3">Контроль качества</a>
                    <p class="tabs__text">
                        Независимый от автора, менеджера или еще кого-то отдел.
                        Кажная некачественная работа это минус в репутации компании
                        и как правило потеря клиентов. Его задача проверить дипломную
                        на соответствия технических требований вуза и ГОСТа.
                    </p>
                </li>
            </ul>
        </div>
        <div class="tabs__content">
            <section class="tabs__section tab" id="section1">
                <div class="tab__img">
                    <img src="./images/acquaintance-1.svg" alt="#">
                </div>
                <ul class="tab__list">
                    <li class="tab__item">Оформления заявки и озвучивание стоимости</li>
                    <li class="tab__item">Решение любых вопросов возникающих по ходу выполнения работы</li>
                    <li class="tab__item">С вами до полной вашей защиты</li>
                </ul>
            </section>
            <section class="tabs__section tab" id="section2">
                <div class="tab__img">
                    <img src="./images/acquaintance-2.svg" alt="#">
                </div>
                <ul class="tab__list">
                    <li class="tab__item">Выполнение работы</li>
                    <li class="tab__item">Внесение доработок</li>
                    <li class="tab__item">Советы по защите и сдаче проекта</li>
                </ul>
            </section>
            <section class="tabs__section tab" id="section3">
                <div class="tab__img">
                    <img src="./images/acquaintance-3.svg" alt="#">
                </div>
                <ul class="tab__list">
                    <li class="tab__item">Проверка соблюдения ваших требований</li>
                    <li class="tab__item">Проверка требований ГОСТ</li>
                    <li class="tab__item">Проверка требований ВУЗа и методички</li>
                </ul>
            </section>
        </div>
    </div>
</div>
