<div class="modal">
    <div class="modal__inner">
        {# message #}
        <ul class="modal__list" v-if="list">
            <li>{# list.field #} : {# list.text #}</li>
        </ul>
    </div>
</div>