<div class="breadcrumbs">
    <ul class="breadcrumbs__list">
        <li><a href="/" class="breadcrumbs__item">Главная</a></li>
        <li><a href="" class="breadcrumbs__item breadcrumbs__item_active">Текущая страница</a></li>
    </ul>
</div>