<div class="execution">
    <div class="execution__column">
        <h2 class="execution__title title">Выполнение дипломных работ на заказ</h2>
        <div class="execution__description">
            Уникальная дипломная работа это очень круто так как она подготавливается лично под студента автор может
            учесть все его пожелания и требования к оформлению. Цена такой работы выше чем уже готовой но с помощью такой работы можно спокойно защитить дипломный проект.
        </div>
        <ul class="execution__list">
            <li class="execution__item execution__item_works">
                256 успешно выполненных работ
            </li>
            <li class="execution__item execution__item_reviews">
                200 положительных отзывов
            </li>
            <li class="execution__item execution__item_order">
                Средний балл 4.9
            </li>
        </ul>
    </div>
    <div class="execution__column">
        <div class="execution__price">
            Стоимость
            <span class="execution__price-count">от 3000 &#8381;</span>
        </div>
        <div class="execution__time">
            Срок написания
            <span class="execution__time-count">от 5 дней</span>
        </div>
        <div class="execution__actions">
            <button class="btn btn_small btn_green">Узнать стоимость</button>
        </div>
    </div>
</div>
