<div class="features">
    <div class="features__card-wrapper wrapper">
        <div class="features__card">
            <div class="features__card-inner">
                <div class="features__card-count">60.000</div>
                <div class="features__card-title">Готовых работ</div>
                <div class="features__card-text">Каждая работа проходит проверку на качество перед размещением на сайте</div>
            </div>
        </div>
        <div class="features__card">
            <div class="features__card-inner">
                <div class="features__card-count">47</div>
                <div class="features__card-title">Учебных дисциплин</div>
                <div class="features__card-text">Дипломные, курсовые, контрольные, эссе, рефераты и многое другое</div>
            </div>
        </div>
        <div class="features__card">
            <div class="features__card-inner">
                <div class="features__card-count">350</div>
                <div class="features__card-title">Предметов и направлений</div>
                <div class="features__card-text">Гуманитарные, технические, естественные, экономические и юридические дисциплины</div>
            </div>
        </div>
        <div class="features__card">
            <div class="features__card-inner">
                <div class="features__card-count">4.8</div>
                <div class="features__card-title">Балл</div>
                <div class="features__card-text">Средняя оценка загруженных готовых работ от наших пользователей</div>
            </div>
        </div>
    </div>

    <div class="features__list-wrapper">
        <div class="wrapper">
            <ul class="features__list">
                <li class="features__item">
                    Цены готовых работ в несколько раз ниже заказных
                </li>
                <li class="features__item">
                    Возможность заказать уникализацию любой работы
                </li>
                <li class="features__item">
                    Работа доступна для скачивания сразу после оплаты
                </li>
            </ul>
        </div>
    </div>

    <div class="features__content-wrapper">
        <div class="features__content">
            <p>
                В базе готовых работ можно выбрать и купить курсовые, контрольные, магистерские и т. д. по различным
                предметам и дисциплинам – всего более 60 тысяч. Для удобства поиска в архиве есть сортировка по теме и стоимости.
            </p>
            <p>
                Перед покупкой работы вы можете ознакомиться с ее выдержками, содержанием и списком литературы.
                У каждой есть рейтинг, на который вы можете ориентироваться при выборе, и счетчик, который показывает, сколько раз она использовалась.
            </p>
            <p>
                Покупая самостоятельные в каталоге готовых работ, за качество можно не волноваться: перед загрузкой на портал
                их проверяют на соответствие специальным требованиям. Все, что находится в нашей библиотеке, успешно прошло защиту.
            </p>
            <p>
                Преимущества покупки на сайте готовых работ в том, что вы платите меньше и не ждете выполнения.
                Никаких дополнительных манипуляций: просто оплачиваете и скачиваете.
            </p>
            <p>Нашли подходящую работу, но она уже использовалась? Просто закажите дополнительную услугу по уникализации.</p>
        </div>
    </div>
</div>
