<div class="footer">
    <div class="wrapper footer__wrapper">
        <div class="footer__top">
            <div class="footer__top-column">
                <div class="footer__logo">
                    <a href="/" class="footer__logo-link"></a>
                    <span class="footer__logo-description">крупнейший банк готовых студенческих работ</span>
                </div>
                <div class="footer__phones">
                    <div class="footer__phone">
                        <a href="tel:88003338299" class="footer__phone-number"><span>8 800 </span>333-82-99</a>
                        <span class="footer__phone-description">звонок бесплатный для России</span>
                    </div>
                    <div class="footer__phone">
                        <a href="tel:+74951375972" class="footer__phone-number"><span>+7 495 </span>137-59-72</a>
                        <span class="footer__phone-description">городской</span>
                    </div>
                </div>
                <div class="footer__mails">
                    <div class="footer__mail">
                        <a href="mailto:info@readywork.ru" class="footer__phone-number">info@readywork.ru</a>
                    </div>
                </div>
            </div>
            <div class="footer__top-column">
                <div class="footer__menu">
                    <ul class="footer__menu-list">
                        <li class="footer__menu-item">
                            <h3 class="footer__menu-title">О проекте</h3>
                            <ul class="footer__submenu">
                                <li class="footer__submenu-item">
                                    <a href="#" class="footer__submenu-link">Список работ</a>
                                </li>
                                <li class="footer__submenu-item">
                                    <a href="#" class="footer__submenu-link">Способы оплаты</a>
                                </li>
                                <li class="footer__submenu-item">
                                    <a href="#" class="footer__submenu-link">Контакты</a>
                                </li>
                                <li class="footer__submenu-item">
                                    <a href="#" class="footer__submenu-link">Партнерам</a>
                                </li>
                                <li class="footer__submenu-item">
                                    <a href="#" class="footer__submenu-link">Новости</a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer__menu-item">
                            <h3 class="footer__menu-title">Работы под заказ</h3>
                            <ul class="footer__submenu">
                                <li class="footer__submenu-item">
                                    <a href="#" class="footer__submenu-link">Дипломная работа</a>
                                </li>
                                <li class="footer__submenu-item">
                                    <a href="#" class="footer__submenu-link">Курсовая работа</a>
                                </li>
                                <li class="footer__submenu-item">
                                    <a href="#" class="footer__submenu-link">Контрольная работа</a>
                                </li>
                                <li class="footer__submenu-item">
                                    <a href="#" class="footer__submenu-link">Рефераты</a>
                                </li>
                                <li class="footer__submenu-item">
                                    <a href="#" class="footer__submenu-link">Посмотреть список всех работ</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__copyright">Copyright &copy;&nbsp;2007&nbsp;&mdash; 2019 Readywork.ru</div>
            <div class="footer__description">Специалисты Readywork.ru осуществляют работу по&nbsp;сборке и структурированию информации по&nbsp;предложеной клиентом теме. Результат подобной работы не&nbsp;является готовым научным трудом.</div>
        </div>
    </div>
</div>
