<table class="info-table {{class}}">
    <tr>
        <th>Тема работы</th>
        <th>Стоимость</th>
        <th>Вид работы</th>
        <th>Страниц</th>
    </tr>
    <tr>
        <td><a href="#">АРМ “Управление лицензионной деятельностью”</a></td>
        <td>1640 р.</td>
        <td>Курсовая</td>
        <td>120</td>
    </tr>
    <tr>
        <td><a href="#">Численные методы. 11 методов. 11 кодов программ. Условия и комментарии. 27стр.</a></td>
        <td>1640 р.</td>
        <td>Курсовая</td>
        <td>120</td>
    </tr>
</table>