<div class="nav {{class}}">
    <ul class="nav__list">
        <li class="nav__list-item"><a href="/library" class="nav__list-link">Список работ</a></li>
        <li class="nav__list-item"><a href="/services" class="nav__list-link">Цены и услуги</a></li>
        <li class="nav__list-item"><a href="/partners" class="nav__list-link">Партнерам</a></li>
        <li class="nav__list-item"><a href="/payment-methods" class="nav__list-link">Способы оплаты</a></li>
        <li class="nav__list-item"><a href="/contact" class="nav__list-link">Контакты</a></li>
    </ul>
</div>
