<div class="news {{class}}">
    <div class="news__items-wrapper">
        <div class="news__item">
            <a href="/news" class="news__link"></a>
            <div class="news__date">08.05.2018</div>
            <div class="news__text">
                9&nbsp;мая в&nbsp;компании ReadyWork выходной день Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis
                cum, ea error esse explicabo, id nisi perferendis quae quia quidem quos, tenetur. Corporis cumque obcaecati officiis quisquam
                repudiandae. Illo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, in!
            </div>
        </div>
        <div class="news__item">
            <a href="/news" class="news__link"></a>
            <div class="news__date">17.03.2018</div>
            <div class="news__text">Изменения в графике</div>
        </div>
        <div class="news__item">
            <a href="/news" class="news__link"></a>
            <div class="news__date">28.12.2017</div>
            <div class="news__text">
                Изменения в&nbsp;график работы в&nbsp;предновогодние дни! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias deleniti
                dolorem nisi reiciendis tenetur voluptate.
            </div>
        </div>
    </div>
</div>
