<div class="payment">
    <div class="payment__items-wrapper">
        <a href="/payment-methods#webmoney-method" class="payment__item payment__item_webmoney"></a>
        <a href="/payment-methods#qiwi-method" class="payment__item payment__item_qiwi"></a>
        <a href="/payment-methods#yandex-money-method" class="payment__item payment__item_yandex-money"></a>
        <a href="/payment-methods" class="payment__item payment__item_visa-master"></a>
        <a href="/payment-methods#robokassa-method" class="payment__item payment__item_robokassa"></a>
        <a href="/payment-methods#sberbank-method" class="payment__item payment__item_sberbank"></a>
    </div>
</div>
