<div class="progress">
    <h2 class="progress__title title">Ход выполнения работы</h2>
    <ul class="progress__list">
        <li class="progress__item">Оформление заявки</li>
        <li class="progress__item">Выполнение работы автором</li>
        <li class="progress__item">Контроль качества работы</li>
        <li class="progress__item">Сдача клиенту с гарантией</li>
        <li class="progress__item">Успешная сдача работы</li>
    </ul>
    <div class="progress__description">
        <p>
            Про время оформления заявки, про соблюдения сроков автором,
            про контроль качества, про то в каком виде клиент получает
            работу и какую гарантию он на нее получает в случаи когда
            можно прийти на внесения правок по гарантии, пару слов о том
            что у него получится с успешно защитить дипломную работу.
        </p>
    </div>
</div>
