<div class="reviews {{class}}">
    <div class="reviews__items-wrapper">
        <div class="reviews__item">
            <div class="reviews__item-inner">
                <a href="/reviews" class="reviews__link"></a>
                <div class="reviews__head">
                    <div class="reviews__rate"></div>
                    <div class="reviews__name">Захар:</div>
                </div>
                <div class="reviews__text">
                    <p>
                        Люблю вас за отменное качество работ, потому что очень приятно когда
                        преподаватель хвалит твою работу перед всей группой, а тем более если
                        благодаря хорошо написанной работе можно получить автомат по экзамену)
                    </p>
                </div>
                <div class="reviews__footer">
                    <div class="reviews__jobtype">Дипломная работа</div>
                    <div class="reviews__date">12.12.2018</div>
                </div>
            </div>
        </div>
        <div class="reviews__item">
            <div class="reviews__item-inner">
                <a href="/reviews" class="reviews__link"></a>
                <div class="reviews__head">
                    <div class="reviews__rate"></div>
                    <div class="reviews__name">Леонид:</div>
                </div>
                <div class="reviews__text">
                    <p>
                        Была жуткая ситуация, уже было 3 пересдачи, и речь шла об отчислении.
                        Слава богу нашла вас и заказала онлайн помощь на экзамены. Вы меня спасли
                        от отчисления. Огромное вам за это спасибо! Выручили!
                    </p>
                </div>
                <div class="reviews__footer">
                    <div class="reviews__jobtype">Дипломная работа</div>
                    <div class="reviews__date">12.12.2018</div>
                </div>
            </div>
        </div>
        <div class="reviews__item">
            <div class="reviews__item-inner">
                <a href="/reviews" class="reviews__link"></a>
                <div class="reviews__head">
                    <div class="reviews__rate"></div>
                    <div class="reviews__name">Андрей:</div>
                </div>
                <div class="reviews__text">
                    <p>
                        Не было времени написать отчет по практике самому. Заказал. Написали его
                        очень хорошо - отчет получился полноценным и грамотным. Рад, что нашел
                        этот сайт, если понадобится обращусь сюда еще раз
                    </p>
                </div>
                <div class="reviews__footer">
                    <div class="reviews__jobtype">Дипломная работа</div>
                    <div class="reviews__date">12.12.2018</div>
                </div>
            </div>
        </div>
    </div>
</div>
