<div class="services">
    <ul class="services__list">
        <li class="services__item service">
            <div class="service__header">
                <h3 class="service__title">
                    <a href="service">Дипломная работа</a>
                </h3>
                <div class="service__img">
                    <img src="./images/service-1.svg" alt="Дипломная работа">
                </div>

            </div>
            <div class="service__content">
                <p class="service__price">
                    Стоимость
                    <span class="service__price-count">от 7800 &#8381;</span>
                </p>
                <p class="service__time">
                    Срок написания
                    <span class="service__time-count">от 5 дней</span>
                </p>
                <div class="service__actions">
                    <button class="btn btn_small btn_green">Заказать</button>
                </div>
            </div>
        </li>
        <li class="services__item service">
            <div class="service__header">
                <h3 class="service__title">
                    <a href="service">Дипломная работа</a>
                </h3>
                <div class="service__img">
                    <img src="./images/service-2.svg" alt="Дипломная работа">
                </div>

            </div>
            <div class="service__content">
                <p class="service__price">
                    Стоимость
                    <span class="service__price-count">от 7800 &#8381;</span>
                </p>
                <p class="service__time">
                    Срок написания
                    <span class="service__time-count">от 5 дней</span>
                </p>
                <div class="service__actions">
                    <button class="btn btn_small btn_green">Заказать</button>
                </div>
            </div>
        </li>
        <li class="services__item service">
            <div class="service__header">
                <h3 class="service__title">
                    <a href="service">Дипломная работа</a>
                </h3>
                <div class="service__img">
                    <img src="./images/service-3.svg" alt="Дипломная работа">
                </div>

            </div>
            <div class="service__content">
                <p class="service__price">
                    Стоимость
                    <span class="service__price-count">от 7800 &#8381;</span>
                </p>
                <p class="service__time">
                    Срок написания
                    <span class="service__time-count">от 5 дней</span>
                </p>
                <div class="service__actions">
                    <button class="btn btn_small btn_green">Заказать</button>
                </div>
            </div>
        </li>
        <li class="services__item service">
            <div class="service__header">
                <h3 class="service__title">
                    <a href="service">Дипломная работа</a>
                </h3>
                <div class="service__img">
                    <img src="./images/service-4.svg" alt="Дипломная работа">
                </div>

            </div>
            <div class="service__content">
                <p class="service__price">
                    Стоимость
                    <span class="service__price-count">от 7800 &#8381;</span>
                </p>
                <p class="service__time">
                    Срок написания
                    <span class="service__time-count">от 5 дней</span>
                </p>
                <div class="service__actions">
                    <button class="btn btn_small btn_green">Заказать</button>
                </div>
            </div>
        </li>
        <li class="services__item service">
            <div class="service__header">
                <h3 class="service__title">
                    <a href="service">Дипломная работа</a>
                </h3>
                <div class="service__img">
                    <img src="./images/service-5.svg" alt="Дипломная работа">
                </div>

            </div>
            <div class="service__content">
                <p class="service__price">
                    Стоимость
                    <span class="service__price-count">от 7800 &#8381;</span>
                </p>
                <p class="service__time">
                    Срок написания
                    <span class="service__time-count">от 5 дней</span>
                </p>
                <div class="service__actions">
                    <button class="btn btn_small btn_green">Заказать</button>
                </div>
            </div>
        </li>
        <li class="services__item service">
            <div class="service__header">
                <h3 class="service__title">
                    <a href="service">Дипломная работа</a>
                </h3>
                <div class="service__img">
                    <img src="./images/service-6.svg" alt="Дипломная работа">
                </div>

            </div>
            <div class="service__content">
                <p class="service__price">
                    Стоимость
                    <span class="service__price-count">от 7800 &#8381;</span>
                </p>
                <p class="service__time">
                    Срок написания
                    <span class="service__time-count">от 5 дней</span>
                </p>
                <div class="service__actions">
                    <button class="btn btn_small btn_green">Заказать</button>
                </div>
            </div>
        </li>
        <li class="services__item service">
            <div class="service__header">
                <h3 class="service__title">
                    <a href="service">Дипломная работа</a>
                </h3>
                <div class="service__img">
                    <img src="./images/service-7.svg" alt="Дипломная работа">
                </div>

            </div>
            <div class="service__content">
                <p class="service__price">
                    Стоимость
                    <span class="service__price-count">от 7800 &#8381;</span>
                </p>
                <p class="service__time">
                    Срок написания
                    <span class="service__time-count">от 5 дней</span>
                </p>
                <div class="service__actions">
                    <button class="btn btn_small btn_green">Заказать</button>
                </div>
            </div>
        </li>
        <li class="services__item service">
            <div class="service__header">
                <h3 class="service__title">
                    <a href="service">Дипломная работа</a>
                </h3>
                <div class="service__img">
                    <img src="./images/service-8.svg" alt="Дипломная работа">
                </div>

            </div>
            <div class="service__content">
                <p class="service__price">
                    Стоимость
                    <span class="service__price-count">от 7800 &#8381;</span>
                </p>
                <p class="service__time">
                    Срок написания
                    <span class="service__time-count">от 5 дней</span>
                </p>
                <div class="service__actions">
                    <button class="btn btn_small btn_green">Заказать</button>
                </div>
            </div>
        </li>
        <li class="services__item service">
            <div class="service__header">
                <h3 class="service__title">
                    <a href="service">Дипломная работа</a>
                </h3>
                <div class="service__img">
                    <img src="./images/service-2.svg" alt="Дипломная работа">
                </div>

            </div>
            <div class="service__content">
                <p class="service__price">
                    Стоимость
                    <span class="service__price-count">от 7800 &#8381;</span>
                </p>
                <p class="service__time">
                    Срок написания
                    <span class="service__time-count">от 5 дней</span>
                </p>
                <div class="service__actions">
                    <button class="btn btn_small btn_green">Заказать</button>
                </div>
            </div>
        </li>
    </ul>
</div>
