<div class="subjects">
    <ul class="subjects__list">
        <li class="subjects__item subject">
            <h3 class="subject__title">А</h3>
            <ul class="subject__list">
                <li class="subject__item">
                    <details>
                        <summary class="subject__item-title">Авиация и космонавтика <span>(36)</span></summary>
                        <ul class="subject__item-list">
                            <li><a class="subject__item-link" href="work">Action</a></li>
                            <li><a class="subject__item-link" href="work">Another action</a></li>
                            <li><a class="subject__item-link" href="work">Something else here</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </li>
        <li class="subjects__item subject">
            <h3 class="subject__title">Б</h3>
            <ul class="subject__list">
                <li class="subject__item">
                    <details>
                        <summary class="subject__item-title">Авиация и космонавтика <span>(36)</span></summary>
                        <ul class="subject__item-list">
                            <li><a class="subject__item-link" href="work">Action</a></li>
                            <li><a class="subject__item-link" href="work">Another action</a></li>
                            <li><a class="subject__item-link" href="work">Something else here</a></li>
                        </ul>
                    </details>
                </li>
                <li class="subject__item">
                    <details>
                        <summary class="subject__item-title">Авиация и космонавтика <span>(36)</span></summary>
                        <ul class="subject__item-list">
                            <li><a class="subject__item-link" href="work">Action</a></li>
                            <li><a class="subject__item-link" href="work">Another action</a></li>
                            <li><a class="subject__item-link" href="work">Something else here</a></li>
                        </ul>
                    </details>
                </li>
                <li class="subject__item">
                    <details>
                        <summary class="subject__item-title">Авиация и космонавтика <span>(36)</span></summary>
                        <ul class="subject__item-list">
                            <li><a class="subject__item-link" href="work">Action</a></li>
                            <li><a class="subject__item-link" href="work">Another action</a></li>
                            <li><a class="subject__item-link" href="work">Something else here</a></li>
                        </ul>
                    </details>
                </li>
                <li class="subject__item">
                    <details>
                        <summary class="subject__item-title">Авиация и космонавтика <span>(36)</span></summary>
                        <ul class="subject__item-list">
                            <li><a class="subject__item-link" href="work">Action</a></li>
                            <li><a class="subject__item-link" href="work">Another action</a></li>
                            <li><a class="subject__item-link" href="work">Something else here</a></li>
                        </ul>
                    </details>
                </li>
                <li class="subject__item">
                    <details>
                        <summary class="subject__item-title">Авиация и космонавтика <span>(36)</span></summary>
                        <ul class="subject__item-list">
                            <li><a class="subject__item-link" href="work">Action</a></li>
                            <li><a class="subject__item-link" href="work">Another action</a></li>
                            <li><a class="subject__item-link" href="work">Something else here</a></li>
                        </ul>
                    </details>
                </li>
                <li class="subject__item">
                    <details>
                        <summary class="subject__item-title">Авиация и космонавтика <span>(36)</span></summary>
                        <ul class="subject__item-list">
                            <li><a class="subject__item-link" href="work">Action</a></li>
                            <li><a class="subject__item-link" href="work">Another action</a></li>
                            <li><a class="subject__item-link" href="work">Something else here</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </li>
        <li class="subjects__item subject">
            <h3 class="subject__title">В</h3>
            <ul class="subject__list">
                <li class="subject__item">
                    <details>
                        <summary class="subject__item-title">Авиация и космонавтика <span>(36)</span></summary>
                        <ul class="subject__item-list">
                            <li><a class="subject__item-link" href="work">Action</a></li>
                            <li><a class="subject__item-link" href="work">Another action</a></li>
                            <li><a class="subject__item-link" href="work">Something else here</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </li>
        <li class="subjects__item subject">
            <h3 class="subject__title">Г</h3>
            <ul class="subject__list">
                <li class="subject__item">
                    <details>
                        <summary class="subject__item-title">Авиация и космонавтика <span>(36)</span></summary>
                        <ul class="subject__item-list">
                            <li><a class="subject__item-link" href="work">Action</a></li>
                            <li><a class="subject__item-link" href="work">Another action</a></li>
                            <li><a class="subject__item-link" href="work">Something else here</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </li>
        <li class="subjects__item subject">
            <h3 class="subject__title">Д</h3>
            <ul class="subject__list">
                <li class="subject__item">
                    <details>
                        <summary class="subject__item-title">Авиация и космонавтика <span>(36)</span></summary>
                        <ul class="subject__item-list">
                            <li><a class="subject__item-link" href="work">Action</a></li>
                            <li><a class="subject__item-link" href="work">Another action</a></li>
                            <li><a class="subject__item-link" href="work">Something else here</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </li>
        <li class="subjects__item subject">
            <h3 class="subject__title">Е</h3>
            <ul class="subject__list">
                <li class="subject__item">
                    <details>
                        <summary class="subject__item-title">Авиация и космонавтика <span>(36)</span></summary>
                        <ul class="subject__item-list">
                            <li><a class="subject__item-link" href="work">Action</a></li>
                            <li><a class="subject__item-link" href="work">Another action</a></li>
                            <li><a class="subject__item-link" href="work">Something else here</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </li>
    </ul>
</div>
