<form action="" class="form {{class}}">
    <div class="form__row">
        <div class="form__col">
            <div class="field">
                <input type="text" id="form.full_name" class="input" placeholder="Фамилия и имя">
                <span class="field__error"></span>
            </div>
        </div>
    </div>
    <div class="form__row">
        <div class="form__col">
            <div class="field">
                <input type="text" id="form.email" class="input" placeholder="Ваш e-mail">
                <span class="field__error"></span>
            </div>
        </div>
    </div>
    <div class="form__row">
        <div class="form__col">
            <div class="field">
                <input type="password" id="form.password" class="input" placeholder="Пароль для личного кабинета">
                <span class="field__error"></span>
            </div>
        </div>
    </div>
    <div class="form__row">
        <div class="form__col form__col_submit">
            <button type="submit" class="btn btn_{{btn-color}}">Зарегистрироваться</button>
        </div>
    </div>
    <div class="form__row">
        <div class="form__col">
            <div class="form__politics">Я даю согласие на обработку своих персональных данных в соответствии
                <a href="/politika_konfident-RW.pdf">Политикой конфиденциальности</a>
            </div>
        </div>
    </div>
</form>