<div class="worktypes">
    <ul class="worktypes__list">
        <li class="worktypes__item worktype">
            <a class="worktype__link" href="works">Авиация и космонавтика <span>(36)</span></a>
        </li>
        <li class="worktypes__item worktype">
            <a class="worktype__link" href="works">Автомобильное хозяйство <span>(36)</span></a>
        </li>
        <li class="worktypes__item worktype">
            <a class="worktype__link" href="works">Автотранспорт <span>(36)</span></a>
        </li>
        <li class="worktypes__item worktype">
            <a class="worktype__link" href="works">Акционерное право <span>(36)</span></a>
        </li>
        <li class="worktypes__item worktype">
            <a class="worktype__link" href="works">Анализ хоз. деятельности <span>(36)</span></a>
        </li>
        <li class="worktypes__item worktype">
            <a class="worktype__link" href="works">Английский язык <span>(36)</span></a>
        </li>
        <li class="worktypes__item worktype">
            <a class="worktype__link" href="works">Арбитражный процесс <span>(36)</span></a>
        </li>
        <li class="worktypes__item worktype">
            <a class="worktype__link" href="works">Архитектура и строительство <span>(36)</span></a>
        </li>
        <li class="worktypes__item worktype">
            <a class="worktype__link" href="works">Аудит - Аудиторская деятельность и учет <span>(36)</span></a>
        </li>
        <li class="worktypes__item worktype">
            <a class="worktype__link" href="works">Административное право <span>(36)</span></a>
        </li>
    </ul>
</div>
