<div class="work-card">
    <div class="work">
        <div class="work__col">
            <div class="work__other">
                <div class="work__rating">Рейтинг: 5 звезд и текст</div>
                <div class="work__pages">11 страниц</div>
                <div class="work__date">сегодня 18:23</div>
                <span class="work__status">Новая</span>
            </div>
            <div class="work__theme">
                Высшая математика Санкт-Петербург ГАСУ КР2 Вариант 6 (5 заданий)
            </div>
            <div class="work__info info">
                <ul class="info__list">
                    <li class="info__item">
                        <span class="info__key">Тип работы:</span>
                        <a class="info__value" href="works">Контрольная работа</a>
                    </li>
                    <li class="info__item">
                        <span class="info__key">Предмет:</span>
                        <a class="info__value" href="works">Статистика</a>
                    </li>
                    <li class="info__item">
                        <span class="info__key">Направления:</span>
                        <span class="info__value">Статистика</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="work__col">
            <div class="work__stock">В наличии</div>
            <div class="work__price">249 &#8381;</div>
            <div class="work__action">
                <button class="btn btn_small btn_green" @click="openBuy()">Купить</button>
            </div>
        </div>
    </div>
</div>
