<div class="works-filter">
    <h4 class="works-filter__title">Сортировать по:</h4>
    <ul class="works-filter__list">
        <li class="works-filter__item">
            <a class="works-filter__link active up" href="#">цене</a>
        </li>
        <li class="works-filter__item">
            <a class="works-filter__link" href="#">дате добавления</a>
        </li>
        <li class="works-filter__item">
            <a class="works-filter__link active down" href="#">количеству покупок</a>
        </li>
    </ul>
</div>
