<div class="works-base">
    <h2 class="works-base__title">Доступные предметы по контрольной</h2>
    <div class="works-base__content">
        <div class="works-base__initials">
            <ul class="works-base__initials-list">
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link active" href="works">a</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">б</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">в</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">г</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">д</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">е</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">ж</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">з</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">и</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">к</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">л</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">м</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">н</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">о</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">п</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">р</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">с</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">т</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">у</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">ф</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">х</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">ц</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">ч</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">э</a>
                </li>
                <li class="works-base__initials-item">
                    <a class="works-base__initials-link" href="#">ю</a>
                </li>
            </ul>
        </div>
        <div class="works-base__result">
            <ul class="works-base__result-list">
                <li class="works-base__result-item">
                    <a class="works-base__result-link" href="works">Авиация и космонавтика <span>(36)</span></a>
                </li>
                <li class="works-base__result-item">
                    <a class="works-base__result-link" href="works">Автомобильное хозяйство <span>(36)</span></a>
                </li>
                <li class="works-base__result-item">
                    <a class="works-base__result-link" href="works">Автотранспорт <span>(36)</span></a>
                </li>
                <li class="works-base__result-item">
                    <a class="works-base__result-link" href="works">Акционерное право <span>(36)</span></a>
                </li>
                <li class="works-base__result-item">
                    <a class="works-base__result-link" href="works">Анализ хоз. деятельности <span>(36)</span></a>
                </li>
                <li class="works-base__result-item">
                    <a class="works-base__result-link" href="works">Английский язык <span>(36)</span></a>
                </li>
                <li class="works-base__result-item">
                    <a class="works-base__result-link" href="works">Арбитражный процесс <span>(36)</span></a>
                </li>
                <li class="works-base__result-item">
                    <a class="works-base__result-link" href="works">Архитектура и строительство <span>(36)</span></a>
                </li>
                <li class="works-base__result-item">
                    <a class="works-base__result-link" href="works">Аудит - Аудиторская деятельность и учет <span>(36)</span></a>
                </li>
                <li class="works-base__result-item">
                    <a class="works-base__result-link" href="works">Административное право <span>(36)</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
