<div class="workscheme">
    <div class="workscheme__item-wrapper">
        <div class="workscheme__item">
            <div class="workscheme__img workscheme__img_screen"></div>
            <div class="workscheme__text">Оформляете заявку</div>
        </div>
        <div class="workscheme__item">
            <div class="workscheme__img workscheme__img_calc"></div>
            <div class="workscheme__text">Мы&nbsp;оцениваем<br>стоимость</div>
        </div>
        <div class="workscheme__item">
            <div class="workscheme__img workscheme__img_card"></div>
            <div class="workscheme__text">Вы&nbsp;вносите<br>предоплату&nbsp;25%</div>
        </div>
        <div class="workscheme__item">
            <div class="workscheme__img workscheme__img_pen"></div>
            <div class="workscheme__text">Автор<br>выполняет работу</div>
        </div>
        <div class="workscheme__item">
            <div class="workscheme__img workscheme__img_case"></div>
            <div class="workscheme__text">Ура! Работа выполнена. Вносите доплату и&nbsp;получаете работу в&nbsp;ЛК</div>
        </div>
    </div>
</div>