{{#> layout }}
    {{#*inline "content"}}
        <div class="section">
            <div class="wrapper">
                <div class="site-error">
                    <div class="site-error__status-img">
                        <span class="site-error__status">404</span>
                    </div>
                    <div class="site-error__content">
                        <div class="site-error__title">Такой страницы здесь нет. Но&nbsp;выход есть!</div>
                        <ul class="site-error__list">
                            <li class="site-error__list-item"><a href="/prices-and-services">Закажите</a> качественную, новую, оригинальную работу с&nbsp;бесплатной доработкой;</li>
                            <li class="site-error__list-item"><a href="/cooperation">Выгодно</a> продайте свои курсовые и&nbsp;дипломы;</li>
                            <li class="site-error__list-item">Вернитесь на&nbsp;<a href="/">главную страницу</a>.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {{/inline}}
{{/layout}}
