{{#> layout }}
    {{#*inline "content"}}
        <div class="section">
            <div class="wrapper">
                {{> breadcrumbs }}
                <div class="title">Хочу продавать работы</div>
                <p>Заполните данную форму, чтобы сегодня начать продавать готовые работы.</p>
                <div class="panel panel_cooperation">
                    <div class="panel__l-side">
                        <div class="panel__inner">
                            <div class="title">Регистрация</div>
                            {{> TheRegistrationAuthor class="form-cooperation" btn-color="green" }}
                        </div>
                    </div>
                    <div class="panel__r-side"></div>
                </div>
            </div>
        </div>
    {{/inline}}
{{/layout}}