{{#> layout }}
    {{#*inline "content"}}
        <div class="section">
            <div class="wrapper">

                {{> breadcrumbs }}

                {{> form-registration_client_v2 class="form-client-registration_v2"}}

            </div>
        </div>
    {{/inline}}
{{/layout}}