{{#> layout }}
    {{#*inline "content"}}
        <div class="section">
            <div class="wrapper">

                {{> breadcrumbs }}

                <div class="title">Здесь вы&nbsp;можете продать свою курсовую работу, контрольную, дипломную,
                    реферат.
                </div>

                <p>Система распознавания уникальных проектов нашла на&nbsp;Вашем жестком диске
                    контрольную/курсовую/
                    дипломную работу хорошего качества. Она лежит в&nbsp;скромном &laquo;учебном&raquo; уголке и&nbsp;кушать
                    не&nbsp;просит. А&nbsp;ведь может Вас прокормить!!! Если хотите получить, с&nbsp;уже не&nbsp;нужной
                    Вам работы, прибыль и&nbsp;компенсировать потраченное на&nbsp;ее&nbsp;написание время&nbsp;&mdash;
                    тогда этот раздел именно для Вас.</p>
                <p>Вы&nbsp;можете заработать&nbsp;25% от&nbsp;суммы проданной работы. И&nbsp;не&nbsp;важно,
                    сколько раз
                    был продан Ваш опус. Деньги начисляются за&nbsp;каждую осуществленную операцию! Наши сотрудники тоже
                    заинтересованы в&nbsp;продаже, поэтому приложат все силы, чтобы реализовать работу максимальное
                    количество раз. Соответственно, Ваша прибыль может возрасти в&nbsp;разы! Добавляете больше работе,
                    получаете больше денег!</p>

                <div class="panel panel_cooperation">
                    <div class="panel__l-side">
                        <div class="panel__inner">
                            <div class="title">Регистрация</div>
                            {{> TheRegistrationAuthor class="form-cooperation" btn-color="green" }}
                        </div>
                    </div>
                    <div class="panel__r-side"></div>
                </div>

                <p>Для того, чтобы разместить работу, не&nbsp;нужно сворачивать горы или устраивать танцы
                    с&nbsp;бубнами. Достаточно зарегистрироваться на&nbsp;нашем проекте. Да, и&nbsp;не&nbsp;забывайте, что
                    неполные и&nbsp;неуникальные работы нынче не&nbsp;в&nbsp;цене (преподаватели стали придирчивыми, не&nbsp;обессудьте),
                    поэтому они к&nbsp;участию не&nbsp;допускаются.</p>

                <div class="paragraph-list">
                    <div class="paragraph-list__title">Перевести честно заработанные деньги можно разными способами:</div>
                    <ul class="paragraph-list__list">
                        <li class="paragraph-list__item">голубиной почтой (услуга временно недоступна);</li>
                        <li class="paragraph-list__item">яндекс-деньги (детальную информацию можно прочитать на&nbsp;<a href="#">www.money.yandex.ru</a>);</li>
                        <li class="paragraph-list__item">web-money&nbsp;&mdash; WMR (детальную информацию можно прочитать на&nbsp;<a href="#">www.webmoney.ru</a>);</li>
                        <li class="paragraph-list__item">первым телепортом (на&nbsp;время тестовых работ порталы временно недоступны);</li>
                        <li class="paragraph-list__item">на&nbsp;баланс мобильного телефона.</li>
                    </ul>
                </div>

                <p>Пора вытягивать работы из&nbsp;пыльных папок и&nbsp;научить их&nbsp;приносить прибыль.
                    У&nbsp;нас&nbsp;&mdash; самые лучшие курсы!</p>
            </div>
        </div>
    {{/inline}}
{{/layout}}