{{#> layout class="library-page" }}
    {{#*inline "content"}}
        <div class="section section_breadcrumbs">
            <div class="wrapper">
                {{> breadcrumbs }}
            </div>
        </div>
        <div class="section section_worktypes">
            <div class="wrapper">
                <div class="title">Список типов работ</div>
                {{> worktypes }}
            </div>
        </div>
        <div class="section section_subjects">
            <div class="wrapper">
                <div class="title">Список предметов</div>
                {{> subjects }}
            </div>
        </div>
    {{/inline}}
{{/layout}}
