{{#> layout }}
    {{#*inline "content"}}
        <div class="section">
            <div class="wrapper">

                {{> breadcrumbs }}

                <div class="title title_news">Новости</div>

                <div class="card">
                    <div class="card__item">
                        <div class="card__item-inner">
                            <div class="card__title"><a href="news-item">График работы в Новогодние праздники</a></div>
                            <div class="card__text"><p>Дорогие клиенты компании Readywork.ru !</p>
                                <p>Поздравляем вас с Наступающими праздниками! Желаем веселых праздников и халявы на
                                    сессиии!</p>
                                <p>Также спешим сообщить вам, что 31 декабря, 1, 7 января компания Readywork
                                    отдыхает.</p>
                                <p>&nbsp;</p>
                                <p>С найлучшими пожеланиями,</p>
                                <p>ваш Readywork.ru</p></div>
                            <div class="card__date">26 декабря 2018</div>
                        </div>
                    </div>
                    <div class="card__item">
                        <div class="card__item-inner">
                            <div class="card__title">9 мая в компании ReadyWork выходной день</div>
                            <div class="card__text"><p>Уважаемые клиенты!</p>
                                <p><br>
                                    9 мая в компании ReadyWork выходной день.<br>
                                    Все заявки, пришедшие в нерабочее время, будут обработаны 10 мая.</p>
                                <p>С праздником Победы!</p></div>
                            <div class="card__date">08 мая 2018</div>
                        </div>
                    </div>
                    <div class="card__item">
                        <div class="card__item-inner">
                            <div class="card__title">Изменения в графике</div>
                            <div class="card__text"><p>Дорогие наши клиенты, у нас в воскресенье 18.03.2018 с 8 00 до 18
                                00 не будет электричества в офисе<br>
                                работаем по аварийном у графику с 18 00 до упора.</p>
                                <p>Приносим извинения за временные неудобства.</p>
                                <p>&nbsp;</p></div>
                            <div class="card__date">17 марта 2018</div>
                        </div>
                    </div>
                    <div class="card__item">
                        <div class="card__item-inner">
                            <div class="card__title">Изменения в график работы в предновогодние дни!</div>
                            <div class="card__text"><p>Дорогие друзья! Поздравляем Вас с наступающим Новым Годом и
                                Рождеством!</p>
                                <p>Сообщаем Вам изменение нашего графика в период праздников:</p>
                                <p>&nbsp;</p>
                                <p><strong>24 декабря&nbsp;</strong>— выходной день</p>
                                <p><strong>25 декабря</strong>&nbsp;— работаем с 12.00 до 20.00</p>
                                <p><strong>30 декабря — 2 января</strong>&nbsp;– выходные дни</p>
                                <p><strong>7 января</strong>&nbsp;– выходной день</p></div>
                            <div class="card__date">21 декабря 2017</div>
                        </div>
                    </div>
                    <div class="card__item">
                        <div class="card__item-inner">
                            <div class="card__title">Измения в графике работы! 9 мая - выходной день!</div>
                            <div class="card__text"><p>Уважаемые клиенты!</p>
                                <p><br>
                                    8 мая московский офис работает с 12.00 до 16.00. 9 мая в компании выходной день.<br>
                                    Все заявки, пришедшие в нерабочее время, будут обработаны 10 мая.</p>
                                <p>&nbsp;</p>
                                <p>Благодарим за понимание!</p></div>
                            <div class="card__date">06 мая 2017</div>
                        </div>
                    </div>
                </div>

                {{> paginator }}

            </div>
        </div>
    {{/inline}}
{{/layout}}
