{{#> layout }}
    {{#*inline "content"}}
        <div class="section">
            <div class="wrapper">

                {{> breadcrumbs }}

                <div class="card">
                    <div class="card__item">
                        <div class="card__item-inner">
                            <div class="card__title">График работы в Новогодние праздники</div>
                            <div class="card__text card__text_full"><p>Дорогие клиенты компании Readywork.ru !</p>
                                <p>Поздравляем вас с Наступающими праздниками! Желаем веселых праздников и халявы на
                                    сессиии!</p>
                                <p>Также спешим сообщить вам, что 31 декабря, 1, 7 января компания Readywork
                                    отдыхает.</p>
                                <p>&nbsp;</p>
                                <p>С найлучшими пожеланиями,</p>
                                <p>ваш Readywork.ru</p></div>
                            <div class="card__date">26 декабря 2018</div>
                        </div>
                    </div>
                </div>

                <a href="news" class="btn btn_blue news-full__btn">Назад</a>
            </div>
        </div>
    {{/inline}}
{{/layout}}
