{{#> layout }}
    {{#*inline "content"}}
        <div class="section">
            <div class="wrapper">
                <div class="title title_center">Заказать работу</div>
                <the-form-order></the-form-order>

                <script type="text/x-template" id="the-form-order-template">
                    {{> TheFormOrder }}
                </script>
            </div>
        </div>
    {{/inline}}
{{/layout}}