{{#> layout }}
    {{#*inline "content"}}
        <div class="section partners">
            <div class="wrapper">

                {{> breadcrumbs }}

                <div class="title">Партнерам</div>
                <p class="paragraph-main">
                    Как&nbsp;бы ничего не&nbsp;делать, а&nbsp;еще и&nbsp;денег заработать? Проще простого! Участвуйте в&nbsp;партнерской
                    программе проекта Readywork и&nbsp;зарабатывайте, не&nbsp;выходя из&nbsp;дому.
                </p>
                <div class="panel panel_partners">
                    <div class="panel__l-side">
                        <div class="panel__inner">
                            <div class="panel__text">
                                Вы&nbsp;получаете&nbsp;30% от&nbsp;стоимости проданной работы. Для этого нужно
                                разместить каталог готовых работ или баннер у&nbsp;себя на&nbsp;сайте. Все! Можно
                                получать прибыль!
                            </div>
                        </div>
                    </div>
                    <div class="panel__r-side"></div>
                </div>
                <p>Не&nbsp;менее приятным сюрпризом станет и&nbsp;то, что каждый разместивший каталог
                    или баннер автоматически получает скидку&nbsp;5% на&nbsp;заказ контрольных, курсовых, дипломных и&nbsp;других
                    работ в&nbsp;нашем проекте.</p>
                <p>Все интересующие вопросы можно задать консультантам, которые, как луч в&nbsp;темном
                    царстве, проливают свет на&nbsp;многие непонятности.</p>
                <p>Для того, чтобы зарегистрироваться в&nbsp;партнерской программе и&nbsp;получить
                    рекламный материал достаточно пройти по&nbsp;<a href="#">ссылке</a>. 10-15 минут времени&nbsp;&mdash; и&nbsp;все в&nbsp;порядке.</p>
                <p>Ну&nbsp;что, зарегистрировались? Тогда пришел час расплаты! В&nbsp;смысле, мы&nbsp;уже
                    готовы Вам платить. Уверены, сотрудничество будет взаимовыгодным!!!</p>
            </div>
        </div>
    {{/inline}}
{{/layout}}