{{#> layout }}
    {{#*inline "content"}}
        <div class="section section_breadcrumbs">
            <div class="wrapper">
                {{> breadcrumbs }}
            </div>
        </div>
        <div class="section section_services">
            <div class="wrapper">
                <div class="title">Стоимость студенческих работ</div>
                {{> services }}
            </div>
        </div>
    {{/inline}}
{{/layout}}
