{{#> layout }}
    {{#*inline "content"}}
        <div class="section">
            <div class="wrapper">

                {{> breadcrumbs }}

                <div class="title">Карта сайта</div>

                <div class="sitemap">

                    <div class="sitemap__row">
                        <div class="sitemap__list-block">
                            <div class="sitemap__title">Меню</div>
                            <ul class="sitemap__list">
                                <li><a href="#" class="sitemap__link">Новости</a></li>
                                <li><a href="#" class="sitemap__link">Способы оплаты</a></li>
                                <li><a href="#" class="sitemap__link">Партнерам</a></li>
                                <li><a href="#" class="sitemap__link">Купим вашу работу</a></li>
                                <li><a href="#" class="sitemap__link">Отзывы клиентов</a></li>
                                <li><a href="#" class="sitemap__link">Цены и услуги</a></li>
                            </ul>
                        </div>
                        <div class="sitemap__list-block">
                            <div class="sitemap__title">Услуги</div>
                            <ul class="sitemap__list">
                                <li><a href="#" class="sitemap__link">Дипломные работы на&nbsp;заказ</a></li>
                                <li><a href="#" class="sitemap__link">Отчеты на&nbsp;заказ</a></li>
                                <li><a href="#" class="sitemap__link">Доклад на&nbsp;заказ</a></li>
                                <li><a href="#" class="sitemap__link">Курсовые на&nbsp;заказ</a></li>
                                <li><a href="#" class="sitemap__link">Заказ учебника</a></li>
                                <li><a href="#" class="sitemap__link">Рефераты на&nbsp;заказ</a></li>
                                <li><a href="#" class="sitemap__link">Шпраглки на&nbsp;заказ</a></li>
                                <li><a href="#" class="sitemap__link">Контрольные на&nbsp;заказ</a></li>
                                <li><a href="#" class="sitemap__link">Эссе</a></li>
                                <li><a href="#" class="sitemap__link">Монография на&nbsp;заказ</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="sitemap__row">
                        <div class="sitemap__list-block sitemap__list-block_job">
                            <div class="sitemap__title">Предметы</div>
                            <div class="sitemap__initial">A</div>
                            <ul class="sitemap__list sitemap__list_job">
                                <li><a href="#" class="sitemap__link">Авиация и космонавтика</a></li>
                                <li><a href="#" class="sitemap__link">Автомобильное хозяйство</a></li>
                                <li><a href="#" class="sitemap__link">Архитектура и строительство</a></li>
                                <li><a href="#" class="sitemap__link">Купим вашу работу</a></li>
                                <li><a href="#" class="sitemap__link">Отзывы клиентов</a></li>
                                <li><a href="#" class="sitemap__link">Цены и услуги</a></li>
                                <li><a href="#" class="sitemap__link">Авиация и космонавтика</a></li>
                                <li><a href="#" class="sitemap__link">Автомобильное хозяйство</a></li>
                                <li><a href="#" class="sitemap__link">Архитектура и строительство</a></li>
                                <li><a href="#" class="sitemap__link">Купим вашу работу</a></li>
                                <li><a href="#" class="sitemap__link">Отзывы клиентов</a></li>
                                <li><a href="#" class="sitemap__link">Цены и услуги</a></li>
                            </ul>
                        </div>

                        <div class="sitemap__initial">Б</div>
                        <ul class="sitemap__list sitemap__list_job">
                            <li><a href="#" class="sitemap__link">Авиация и космонавтика</a></li>
                            <li><a href="#" class="sitemap__link">Безопасность жизнедеятельности (БЖД, ОБЖ)</a></li>
                            <li><a href="#" class="sitemap__link">Архитектура и строительство</a></li>
                            <li><a href="#" class="sitemap__link">Купим вашу работу</a></li>
                            <li><a href="#" class="sitemap__link">Архитектура и строительство Архитектура и строительство</a></li>
                            <li><a href="#" class="sitemap__link">Купим вашу работу</a></li>
                            <li><a href="#" class="sitemap__link">Бизнес планирование (Бизнес планы)</a></li>
                            <li><a href="#" class="sitemap__link">Цены и услуги</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    {{/inline}}
{{/layout}}
