{{#> layout }}
    {{#*inline "content"}}
        <div class="section">
            <div class="wrapper">

                {{> breadcrumbs }}

                <div class="title">Готовые дипломные работы по предметам</div>
                <div class="sitemap">
                    <div class="sitemap__row">
                        <div class="sitemap__list-block sitemap__list-block_job">
                            <div class="sitemap__initial">A</div>
                            <ul class="sitemap__list sitemap__list_job">
                                <li><a href="#" class="sitemap__link">Авиация и космонавтика</a></li>
                                <li><a href="#" class="sitemap__link">Автомобильное хозяйство</a></li>
                                <li><a href="#" class="sitemap__link">Архитектура и строительство</a></li>
                                <li><a href="#" class="sitemap__link">Архитектура и строительство</a></li>
                                <li><a href="#" class="sitemap__link">Архитектура и строительство</a></li>
                                <li><a href="#" class="sitemap__link">Купим вашу работу</a></li>
                                <li><a href="#" class="sitemap__link">Отзывы клиентов</a></li>
                                <li><a href="#" class="sitemap__link">Отзывы клиентов</a></li>
                                <li><a href="#" class="sitemap__link">Отзывы клиентов</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sitemap__row">
                        <div class="sitemap__list-block sitemap__list-block_job">
                            <div class="sitemap__initial">Б</div>
                            <ul class="sitemap__list sitemap__list_job">
                                <li><a href="#" class="sitemap__link">Авиация и космонавтика</a></li>
                                <li><a href="#" class="sitemap__link">Безопасность жизнедеятельности (БЖД, ОБЖ)</a></li>
                                <li><a href="#" class="sitemap__link">Архитектура и строительство</a></li>
                                <li><a href="#" class="sitemap__link">Купим вашу работу</a></li>
                                <li><a href="#" class="sitemap__link">Архитектура и строительство Архитектура и строительство</a></li>
                                <li><a href="#" class="sitemap__link">Купим вашу работу</a></li>
                                <li><a href="#" class="sitemap__link">Бизнес планирование (Бизнес планы)</a></li>
                                <li><a href="#" class="sitemap__link">Цены и услуги</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sitemap__row">
                        <div class="sitemap__list-block sitemap__list-block_job">
                            <div class="sitemap__initial">N</div>
                            <ul class="sitemap__list sitemap__list_job">
                                <li><a href="#" class="sitemap__link">Авиация и космонавтика</a></li>
                                <li><a href="#" class="sitemap__link">Автомобильное хозяйство</a></li>
                                <li><a href="#" class="sitemap__link">Архитектура и строительство</a></li>
                                <li><a href="#" class="sitemap__link">Купим вашу работу</a></li>
                                <li><a href="#" class="sitemap__link">Отзывы клиентов</a></li>
                                <li><a href="#" class="sitemap__link">Цены и услуги</a></li>
                                <li><a href="#" class="sitemap__link">Авиация и космонавтика</a></li>
                                <li><a href="#" class="sitemap__link">Автомобильное хозяйство</a></li>
                                <li><a href="#" class="sitemap__link">Архитектура и строительство</a></li>
                                <li><a href="#" class="sitemap__link">Купим вашу работу</a></li>
                                <li><a href="#" class="sitemap__link">Отзывы клиентов</a></li>
                                <li><a href="#" class="sitemap__link">Цены и услуги</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/inline}}
{{/layout}}