{{#> layout }}
    {{#*inline "content"}}
        <div class="section">
            <div class="wrapper">

                {{> breadcrumbs }}

                <div class="title">Все предметы</div>
                <div class="sitemap">
                    <div class="sitemap__row">
                        <div class="sitemap__list-block sitemap__list-block_job sitemap__list-block_counter">
                            <div class="sitemap__initial">A</div>
                            <ul class="sitemap__list sitemap__list_job">
                                <li><a href="#" class="sitemap__link"><span>10</span>Авиация и космонавтика</a></li>
                                <li><a href="#" class="sitemap__link"><span>2</span>Автомобильное хозяйство</a></li>
                                <li><a href="#" class="sitemap__link"><span>213</span>Архитектура и строительство</a></li>
                                <li><a href="#" class="sitemap__link"><span>104</span>Архитектура и строительство</a></li>
                                <li><a href="#" class="sitemap__link"><span>10</span>Архитектура и строительство</a></li>
                                <li><a href="#" class="sitemap__link"><span>2</span>Купим вашу работу</a></li>
                                <li><a href="#" class="sitemap__link"><span>2</span>Отзывы клиентов</a></li>
                                <li><a href="#" class="sitemap__link"><span>5</span>Отзывы клиентов</a></li>
                                <li><a href="#" class="sitemap__link"><span>3</span>Отзывы клиентов</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sitemap__row">
                        <div class="sitemap__list-block sitemap__list-block_job sitemap__list-block_counter">
                            <div class="sitemap__initial">Б</div>
                            <ul class="sitemap__list sitemap__list_job">
                                <li><a href="#" class="sitemap__link"><span>5</span>Авиация и космонавтика</a></li>
                                <li><a href="#" class="sitemap__link"><span>10</span>Безопасность жизнедеятельности (БЖД, ОБЖ)</a></li>
                                <li><a href="#" class="sitemap__link"><span>1000</span>Архитектура и строительство</a></li>
                                <li><a href="#" class="sitemap__link"><span>213</span>Купим вашу работу</a></li>
                                <li><a href="#" class="sitemap__link"><span>2</span>Архитектура и строительство Архитектура и строительство</a></li>
                                <li><a href="#" class="sitemap__link"><span>88</span>Купим вашу работу</a></li>
                                <li><a href="#" class="sitemap__link"><span>66</span>Бизнес планирование (Бизнес планы)</a></li>
                                <li><a href="#" class="sitemap__link"><span>12</span>Цены и услуги</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sitemap__row">
                        <div class="sitemap__list-block sitemap__list-block_job sitemap__list-block_counter">
                            <div class="sitemap__initial">N</div>
                            <ul class="sitemap__list sitemap__list_job">
                                <li><a href="#" class="sitemap__link"><span>213</span>Авиация и космонавтика</a></li>
                                <li><a href="#" class="sitemap__link"><span>10</span>Автомобильное хозяйство</a></li>
                                <li><a href="#" class="sitemap__link"><span>213</span>Архитектура и строительство</a></li>
                                <li><a href="#" class="sitemap__link"><span>55</span>Купим вашу работу</a></li>
                                <li><a href="#" class="sitemap__link"><span>13</span>Отзывы клиентов</a></li>
                                <li><a href="#" class="sitemap__link"><span>213</span>Цены и услуги</a></li>
                                <li><a href="#" class="sitemap__link"><span>3</span>Авиация и космонавтика</a></li>
                                <li><a href="#" class="sitemap__link"><span>21</span>Автомобильное хозяйство</a></li>
                                <li><a href="#" class="sitemap__link"><span>213</span>Архитектура и строительство</a></li>
                                <li><a href="#" class="sitemap__link"><span>23</span>Купим вашу работу</a></li>
                                <li><a href="#" class="sitemap__link"><span>213</span>Отзывы клиентов</a></li>
                                <li><a href="#" class="sitemap__link"><span>21</span>Цены и услуги</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/inline}}
{{/layout}}